* {
	padding: 0;
	margin: 0;
	border: 0;
}



*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}


a {
	color: #000;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
.example-block {
	padding: 10px 2px 30px;
	border: 1px solid;
	margin: 5px;
	width: 500px;
}


.example-string {
	padding: 20px;
	margin: 10px;
}


.site_menu {
	line-height: 30px;
	font-size: 120%;
	position: absolute;
	top: 5%;
	left: 2%;


}

.site_menu a:hover {
	color: white;
	background-color: rgba(2, 4, 7, 0.616);
	border-radius: 5px;
	font-size: 1.1em;
}

.site_menu a:active {
	background-color: rgba(110, 46, 96, 0.185);
}

.contact {
	position: relative;
	top: 20px;
	width: 200px;
	display: block;
	right: 0;
}

.contact a:hover {
	color: white;
	background-color: rgba(2, 4, 7, 0.616);
	border-radius: 5px;
	font-size: 1.1em;

}



.site_menu a {
	display: block;
}

body {
	position: relative;
	min-width: 800px;
	color: #000;
	height: 200%;
}


.sidebar {
	position: absolute;
	top: 0px;
	width: 20%;
	border-right: 5px solid black;
	margin-right: 15px;
	bottom: 0%;
	background-color: rgba(30, 36, 39, 0.192);

}



.topbar {
	position: absolute;
	top: 0%;
	left: 20%;
	right: 0;
	background-color: rgba(30, 36, 39, 0.192);
	height: 100px;
	border-bottom: 5px solid black;

}


.title {
	top: 30px;
	position: absolute;
	text-align: center;
	left: 20%;
	line-height: 30px;
	min-width: 600px;
	font-size: 32px;
}

.photo-examples {
	position: relative;
	top: 500px;

}

footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.img-examples {
	border: 3px solid black;
	height: 400px;
	column-count: 3;
	width: 90%;
	columns: 3;
	column-rule: 2px black;
	column-width: auto;
	column-gap: 1px;
	position: absolute;
	top: 13%;
	left: 5%;
}